// ======================================
//  Variables
// ======================================

// Fonts
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;

// Font Colors
$color-text-primary: rgb(83, 83, 83);
$color-text-light: lighten( $color-text-primary, 20% );
$color-text-link: #9b9b9b;
$color-text-focus: rgb(110, 110, 110);
$color-text-white: #fff;
//Colors
$color-primary: #7477bf;
$color-secondary: #4d4c72;
$color-trim: rgb(255, 204, 64);
$color-border: rgba(190, 190, 190, 0.685);

$color-icon-unvisited: rgba(255, 255, 255, 0.5);
$color-icon-selected: #fff;

$color-alert-green: #49ff98;
$color-alert-green-dark: #42e287;
$color-switch-green: #81c98f;

$color-javascript: rgb(207, 52, 104);
$color-jquery: rgb(61, 125, 243);

// Breakpoints
$break-med: 768px;
$break-lrg: 1024px;
$break-sup: 1400px;
