// ======================================
//  Card Partial
// ======================================

.card {
    display: flex;
    flex-direction: row;
    margin: 1em auto;
    border: solid 2px $color-border;
    // box-shadow: 10px 11px 50px -12px rgba(194,194,194,1);
    border-radius: 5px;
    .info-container {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        .name {
            font-size: 1.1em;
            font-weight: bold;
            color: $color-text-primary;
        }
        .email,
        .city {
            color: $color-text-light;
            font-family: $font-secondary;
            font-size: .9em;
        }
    }
    .avatar {
        border-radius: 50%;
        padding: 1em 1em
    }

}
