/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $font-primary;
    box-sizing: border-box;
    color: $color-text-primary;
    font-size: 1em;
}


